@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coda Caption", sans-serif;
  background-color: #293241;
  color: #e0fbfc;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-heading {
  font-size: 12rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
}

.section-1-icons i {
  font-size: 35rem;
  color: #ee6c4d;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
}
